footer.p-footer
  section.p-footer__about
    h2.c-heading--footer About
    p.p-footer__aboutText テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    ul.p-footer__aboutList
      li.p-footer__aboutItem
        a(href="/") プロフィール詳細
      li.p-footer__aboutItem
        a(href="/") お仕事の依頼
      li.p-footer__aboutItem
        a(href="/") お問い合わせ

  section.p-footer__menu
    h2.c-heading--footer Menu
    nav.p-footer__menuNav
      ul
        li.p-footer__menuItem
          a(href="/") NEW
        li.p-footer__menuItem
          a(href="/") CATEGORY
        li.p-footer__menuItem
          a(href="/") COLUMN
        li.p-footer__menuItem
          a(href="/") SERIES
        li.p-footer__menuItem
          a(href="/") Q&A

  section.p-footer__twitter
    h2.c-heading--footer Twitter
    .p-footer__twitterTimeline
      <a class="twitter-timeline" data-height="315" href="https://twitter.com/X?ref_src=twsrc%5Etfw">Tweets by X</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  small.p-footer__copy © Travel & Blog
