footer.p-footer
  section
    h2 About
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    ul
      li
        a(href="/") プロフィール詳細
      li
        a(href="/") お仕事の依頼
      li
        a(href="/") お問い合わせ
  section
    h2 Menu
    nav
      ul
        li
          a(href="/") NEW
        li
          a(href="/") CATEGORY
        li
          a(href="/") COLUMN
        li
          a(href="/") SERIES
        li
          a(href="/") Q&A
  section
    h2 Twitter
    div
      a.twitter-timeline(href='https://twitter.com/X?ref_src=twsrc%5Etfw') Tweets by X
      script(async src='https://platform.twitter.com/widgets.js' charset='utf-8')
  small © Travel & Blog
