header.p-header
  h1
    a(href="/")
      img(src="/assets/images/logo.svg", alt="Travel Blog")

  nav
    ul
      li
        a(href="/") NEW
      li
        a(href="/") COLUMN
      li
        a(href="/") SERIES
      li
        a(href="/") Q&A
      li
        a(href="/") CONTACT
