header.p-header
  h1.p-header__hero
    a(href="/")
      img(src="/assets/images/logo.svg" alt="Travel Blog" width="145" height="30")

  nav.p-header__menu.l-background--black
    ul.p-header__list.l-flex
      li.p-header__item
        a(href="/") NEW
      li.p-header__item
        a(href="/") COLUMN
      li.p-header__item
        a(href="/") SERIES
      li.p-header__item
        a(href="/") Q&A
      li.p-header__item
        a(href="/") CONTACT
