@use '../../global' as *;
@use 'sass:math';

.p-header {
  @include mq-up(md) {
  }

  &__hero {
    padding: 20px 16px;
  }

  &__list {
    overflow-x: scroll;
  }

  &__item {
    padding: 10px 44px 10px 16px;
  }
}
