@use '../global' as *;

// .l-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .l-main {
//   max-width: 100%;
//   flex: 1;
//   overflow-x: hidden;
//   @supports (overflow-x: clip) {
//     overflow-x: clip;
//   }
// }

.l-background {
  &--black {
    background-color: $pjc-bg-black;
    color: $pjc-txt-white;
  }
}

.l-flex {
  display: flex;

  &--expand {
    @extend .l-flex;

    > * {
      flex-shrink: 0;
    }
  }
}
