@use '../global' as *;

.l-main {
  padding: 30px 16px;
}

.l-background {
  &--black {
    background-color: $pjc-bg-black;
    color: $pjc-txt-white;
  }
}

.l-flex {
  display: flex;

  &--expand {
    @extend .l-flex;

    > * {
      flex-shrink: 0;
    }
  }

  &--expandScroll {
    @extend .l-flex--expand;

    overflow-x: scroll;
  }
}

.l-columns {
  display: grid;
  grid-template-columns: 1fr;

  @include mq-up(md) {
    grid-template-columns: 2fr 1fr;
  }
}
