@use '../../global' as *;
@use 'sass:math';

.c-heading {
  &--aside {
    font-weight: bold;
    font-size: $font-xl;
    text-align: center;
  }

  &--footer {
    font-weight: bold;
    font-size: $font-xl;
  }

  @include mq-up(md) {
  }
}
