//- ---
//- dynamicPermalink: false
//- permalink: 'xx.html'
//- ---

extends /_layout-default

prepend config-block
  //- - site.page_name = ''
  //- - site.description = ''
  //- - site.keywords = ''
  //- - site.url = ''
  //- - site.ogp_type = 'article'

//- append stylesheet-block
//-   link(rel="stylesheet", href="/assets/styles/page.css")

//- append javascript-block
//-   script(src="/assets/scripts/page.js")

block content-block
  include /_header

  main.l-main.l-maxWidth
    section.p-article
      - for (let iArticle = 0; iArticle < 3; iArticle++)
        article.p-article__article
          img.u-imageWidth100(src=`/assets/images/pickup${iArticle + 1}.jpg.webp` alt="" width="384" height="216")
          h2.p-article__title タイトルテキストテキストテキストテキストテキストテキストテキスト
          .c-link
            a(href="/") READ MORE

    .p-columns.l-columns
      section.p-preview
        - for (let iPreview = 0; iPreview < 3; iPreview++)
          article.p-preview__article
            h2.p-preview__title タイトルテキストテキストテキストテキストテキストテキストテキスト
            .p-preview__spans
              time(datetime="2020-01-01") 2020/01/01
              span.p-preview__tag カテゴリ1
            img.p-preview__image.u-imageWidth100(src=`/assets/images/main${iPreview + 1}.jpg.webp` alt="" width="384" height="216")
            p.p-preview__text 本文テキストテキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .p-preview__link.c-link
              a(href="/") READ MORE

      aside.p-aside
        section.p-profile
          img.p-profile__image(src="/assets/images/author.jpg.webp" alt="" width="130" height="130")
          h2.p-profile__name Name Name
          p.p-profile__text  プロフィールテキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        section.p-ranking
          h2.c-heading--aside Ranking
          - for (let iRanking = 0; iRanking < 3; iRanking++)
            article.p-ranking__article
              img.u-imageWidth100(src=`/assets/images/ranking${iRanking + 1}.jpg.webp` alt="" width="384" height="216")
              p タイトルテキストテキストテキストテキストテキストテキスト
        section.p-archive
          h2.c-heading--aside Archive
          ul.p-archive__list
            - for (let iArticle = 0; iArticle < 15; iArticle++)
              li.p-archive__item
                a(href="/") XXXX年XX月
                | (XX)

  include /_footer
